<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Quiz</title>
    <style>
        .results {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            background-color: rgb(246, 207, 146);
            display: none;
        }
        .container {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            display: block;
        }

        .answers-container {
            width: 100vw;
            height: 100vh;
        }

        body {
            margin: 0;
            padding: 0;
        }
        #question {
            background-color: rgb(255, 183, 0);
            margin: auto;
            height: 50%;
            border-style: solid;
            border-width: 1px;
            text-align: center;
            font-size: 30px;
        }
        .answers {
            background-color: rgb(246, 207, 146);
            width: 100%;
            height: 12.5%;
            border-style: solid;
            border-width: 1px;
            transition: transform 0.1s ease;
        }
        .answers:hover {
            transform: scale(1.05);
        }
        
    </style>
</head>

<body>
    <div class="container" id="quiz">
        <header id="question">
        </header>

        <div class="answers-container">
            <button onclick="updateQuestion()" id="answers1" class="answers">
                Answer 1
            </button>
            <button onclick="updateQuestion()" id="answers2" class="answers">
                Answer 2
            </button>
            <button onclick="updateQuestion()" id="answers3" class="answers">
                Answer 3
            </button>
            <button onclick="updateQuestion()" id="answers4" class="answers">
                Answer 4
            </button>
        </div>
    </div>
    <div class="results" id="result">
        Results
    </div> 
    <script>
        let num = 0;
        let questions;
        let choices;
        let answers;
        let userChoices;
        

        fetch("/get-quiz")
        .then(res => res.json())
        .then(data => {
            console.log(data.choices);
            console.log(data.answers);
            console.log(data.questions);

            questions = data.questions;
            choices = data.choices;

            document.getElementById("question").innerText = questions[num];
            document.getElementById("answers1").innerText = choices[num][0];
            document.getElementById("answers2").innerText = choices[num][1];
            document.getElementById("answers3").innerText = choices[num][2];
            document.getElementById("answers4").innerText = choices[num][3];

        })
        .catch(error => console.error());

        function updateQuestion() {
            num += 1;
            if(num>9){
                window.location.href = "/answers";
            }
            document.getElementById("question").innerText = questions[num];
            document.getElementById("answers1").innerText = choices[num][0];
            document.getElementById("answers2").innerText = choices[num][1];
            document.getElementById("answers3").innerText = choices[num][2];
            document.getElementById("answers4").innerText = choices[num][3];
        }
        // let answerChoices = document.querySelectorAll(".answers");
        // answerChoices.forEach(answer=>{
        //     answer.addEventListener("click", )
        // })
        

    </script>
</body>


</html>
